{% extends "master.html" %}
{% load static %}

{% block title %}
  Connection
{% endblock %}


{% block content %}
<style>
   .box{  
    background-color:  #ffffff;
    display: block;
    margin-left: auto;
     margin-right: auto;
    width: 50%;
    padding: 50px;
    margin-top:50px;
    border:
        rgb(220, 193, 74)
        solid 1px;
        border-radius: 15px;
   }
  
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {

  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #B99470;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}


</style>
  <!-- start -->
  {% if messages %}
  {% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
{{ message }}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  {% endfor %}
{% endif %}


  <form method="POST" action="{% url 'seconnecter' %}">
    {% csrf_token %}
        <div class="box">
      <h1>Se connecter</h1>
      <p>Veuillez remplir ce formulaire pour accéder a votre compte.</p>
      <hr>
     
      
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" required>
  
      <label for="password"><b>Mot de passe</b></label>
      <input type="password" placeholder="Entrer le mot de passe" name="password" id="password" required>
  
      <hr>  
      <button type="submit" class="registerbtn">Se connecter</button>
      <center>Vous n'avez pas un compte? <a href="/sinscrire">Inscrivez-vous</a>.</center>
    </div>

  </form>

  <!-- end -->

{% endblock %}