{% load static %}
<style>
    .box{  
 background-color:  #ffffff;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 display: block;
 margin-left: auto;
  margin-right: auto;
 width: 90%;
 padding: 16px;

}
.image{max-width: 100px;}
.but{
     margin: 7px;
     padding: 6px 10px 6px 10px;
     text-align: center;
     background-color: #B99470;
     border-style: none;
     border-radius: 4px;
     color: #fff;
     font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
     font-size: 16px;
     font-weight: 700;
     border: #B99470 solid 3px;
 }
 .but:hover{
     border: #846241 solid 3px;
     background-color: #846241;
     
 
 }
 .quantity{
 display: inline-block;
 font-weight: 700;
 padding-right:10px;
 

}

.chg-quantity{
 width: 12px;
 cursor: pointer;
 display: block;
 margin-top: 5px;
 transition:.1s;
}

.chg-quantity:hover{
 opacity: .6;
}


</style>
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
{{ message }}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="box">
 <div class="row">
     <div class="col-6">
         total:{{commande.get_total_panier}}
     </div>
     <div class="col-6">
         nombre de produits total :{{commande.get_nb_produits}}
     </div>
 </div>
</div>
<br>
{% for prod in produits_c %}
<div class="box">
 <div class="row">
     <div class="col-lg-2 col-sm-12 text-center"> 
         {% if prod.produits.image_set.all %}
         <img src="{{ prod.produits.image_set.first.imageURL }}" alt="{{ prod.produits.libelle }} Image" class="image">
     {% else %}
         <p>No image available for {{ prod.produits.libelle }}</p>
     {% endif %}  
     </div>
     <div class="col-lg-1 col-sm-12 text-center"> 
         <p>{{prod.produits.libelle}}</p>
     </div>
     <div class="col-lg-2 col-sm-12 text-center"> 
         {% if prod.produits.solde %}
         <p>{{prod.produits.prix_sold}} MAD</p>
         {% else %}
         <p>{{prod.produits.prix}} MAD</p>
         {% endif %} 
     </div>
     <div class="col-lg-2 col-sm-12 text-center"> 
         <p>{{prod.get_total}} MAD</p>
     </div>
     <div class="col-lg-3 col-sm-12 text-center"> 
         <form>
         <p class="quantity">{{prod.quantite}}</p>
                     <div class="quantity">
                         <img data-product="{{prod.produits.id}}" data-action="add-one" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
                 
                         <img data-product="{{prod.produits.id}}" data-action="remove-one" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                     </div>
     </div>
     <div class="col-lg-2 col-sm-12 text-center">
         <button data-product="{{prod.produits.id}}"  data-action="remove" class="but update-cart"><i class="fa-solid fa-x"></i></button>
     </form>
     </div>
 </div>

</div>
<br>
{% endfor %}
<center><button><a href="/info_livraison">continue</a></button></center>


